ALIYUN_REGION=cn-hangzhou
ALIYUN_ACCESS_KEY_ID=
ALIYUN_ACCESS_KEY_SECRET=
ALIYUN_OSS_BUCKET=pin-app-storage
ALIYUN_TABLESTORE_INSTANCE=pin-main
ALIYUN_TABLESTORE_ENDPOINT=https://pin-main.cn-hangzhou.ots.aliyuncs.com
ALIYUN_FC_SERVICE=pin-api
ALIYUN_FC_FUNCTION=pin-app
ALIYUN_API_GROUP=pin-api-group
ALIYUN_API_SUBDOMAIN=ee8a7564e6124d75a7e558be596a6e09-cn-hangzhou.alicloudapi.com
PIN_API_STAGE=dev
